.description div {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.carousel div {
    max-width: 100%;
    height: 700px;
    overflow: none;
}

.icon {
    padding: 10px;
}

.icon img{
    margin: 0 auto;
    width: 90%;
}